* {
  padding: 0;
  margin: 0;
}

#body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1446858276256-f36dc2c367d6?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=75f67ec468059a2bf61000fa5ec501a1);
}

#weather-icon {
  text-align: center;
}

.owl-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.local-weather {
  background-color: rgb(250, 250, 250, 0.4);
  border-radius: 12px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.header {
  padding-top: 100px;
  font-weight: bold;
  color: rgb(230, 230, 240);
}

#here {
  text-align: center;
}

.weatherBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 40vw;
}

.temperature {
  padding-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}