* {
    margin: 0;
    padding: 0;
}

body {
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: row;
     background-image: linear-gradient( 87deg, teal, white, grey)
}

.column {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}

h1 {
    margin: 5%;
}

h2 {
    margin: 5%;
}
