* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(87deg, #0b0b0b, #313131);
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

.top-margin-onwhite {
    cursor: pointer;
    color: #000; 
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
      -webkit-animation-duration: 1.25s;
            animation-duration: 1.25s;
  }

  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  input, button {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: white;
}